-----BEGIN CERTIFICATE-----
MIIEQTCCAqmgAwIBAgIUM3j6wd2kPkZiqrMpVAqVZIGbcqEwDQYJKoZIhvcNAQEM
BQAwOjE4MDYGA1UEAwwvNmNjNjllNmEtMzUxZC00NzY3LTgxYjAtZjExMzhjN2E5
Y2Q3IFByb2plY38hnTVIOW9Sb
15Wj2gj74j1X7RKNO06oJtILRE5zEedYGz+agHJijZADfWYbknMGaRxL9NADi5SDPu+f3MjGJJ1D5ej8vjZIdDV
K+X5D5XUFBmj4C+3wFDgSixyUj0FF/J6UxYnP6tSbNwubVI88A==
-----END CERTIFICATE-----
